<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2hvmrKDceBHFls1EB3TPY8npIvdgT7O4</string>
	<key>GCM_SENDER_ID</key>
	<string>544594598267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseCrashlyticsUsage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-crashlytics-21097</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashlytics-21097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544594598267:ios:b35dc314fa3d4ef46345de</string>
</dict>
</plist>